// ==============================
// Custom style
// ==============================

article .single-title {
    font-family: "Oswald";
    font-weight: bold;
    }

article h1.single-title  a {
  font-size: 1.25em;
}

article .content {
  font-size: 18px;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
}

.content {
  margin-top: 2em;
}


.single .post-meta {
  margin-top: 15px;
}

.single .content figure {
  margin-top: 2.0em;
}

.single .content figcaption h4, .single .content figcaption p {
  font-size: .75em;
  color: $global-font-secondary-color;
  margin-top: 1em;
  margin-bottom: 2em;
}

.single .content p {
  margin-top: 1rem;
}

article.single.summary {
  margin-bottom: 3em;
}

.single .single-subtitle {
  color: $global-font-secondary-color;
  font-style: normal;
}

#archive-notice {
  width:auto;
  padding: 30px 50px;
  margin: 20px;
  border: 2px solid grey;
}

.archive-item a {
  color: #2d96bd;
}
.archive-item a:hover {
  text-decoration: underline;
}

.sidenote {
    font-size: 80%;
    position: relative;
}
/* Wide viewport */
@media (min-width: 1400px) {
    .sidenote {
        float: left;
        clear: left;
        margin-left: -23vw;
        text-align: right;

        top: -3rem;
        width: 20vw;
        margin-top: 1rem;
    }
}
/* Narrow viewport */
@media (max-width: 1400px) {
    .sidenote {
        float: left;
        text-align: left;

        width: 100%;
        margin: 1rem 0;
        padding-left: 15%;
    }
}

/* Sidenote counter */
body {
    counter-reset: sidenote-counter;
}
.sidenote-number {
    counter-increment: sidenote-counter;
}
/* Counter before the sidenote in the margin. */
.sidenote::before {
    content: counter(sidenote-counter)".";
    position: relative;
    vertical-align: baseline;
    font-size: 0.9em;
    font-weight: bold;
}
/* Counter in the main body. */
.sidenote-number::after {
    content: counter(sidenote-counter);
    vertical-align: super;
    font-size: 0.7em;
    font-weight: bold;
    margin-right: 0.5rem;
}

@media (min-width: 1400px) {
    /* Highlight the sidenote when mouse hovers on the sidenote number in body. */
    .sidenote-number:hover .sidenote {
        background-color: lightyellow;
    }
}

.post-author {
  display: none;
}

blockquote p:last-of-type a, blockquote p:last-of-type {
    font-size: 0.9em;
    text-align: right;
}
blockquote p:last-of-type a, blockquote p:last-of-type::before {
    content: "\2014 ";
}

figure.imgRightMargin {
  float: right;
}
.figure-number {
  display: none;
}

mark {
background: rgba(255, 255, 0, 0.3);
}

.daily-more {text-align: right;}
.daily-more a {
  font-weight: bold;
  color: #2d96bd;
}

.daily-home {
  background: #f8f8f8;
  padding: 10px;
}

hr.divider {
    margin-top: 20px;
    padding: 0;
    border: none;
    border-top: medium double #DDD;
    color: #DDD;
    text-align: center;
}
hr.divider:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
